<h1>Process#index</h1>
<p>Find me in app/views/process/index.html.erb</p>
<%= link_to('Google','http://www.google.com/')  %> <br />
<button id="clone">clone</button><br />

<textarea></textarea> 

<script>
  var i = 0;
  $("button").click(function(){
    $('textarea').last().after("<textarea></textarea>");
  
  });


</script>
